
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/Site/img/favicon.png">
    <link rel="icon" type="image/png" href="/Site/img/favicon.png">
    <title>مَسای شاپ </title>
    <partial name="_HeaderReferences"/>
    </head>

<body class="index-page sidebar-collapse">
   <partial name="_Header2References"/>
@await Component.InvokeAsync("SiteHeader")
<div class="wrapper default ">

    @await Component.InvokeAsync("SiteHeader2")
    @RenderBody()  
        @await Component.InvokeAsync("SiteFooter")
    </div>
  
    <partial name="-FooterReferences"/>
   
</body>


</html>