 <!--start mobile header -->
    <nav class="navbar direction-ltr fixed-top header-responsive">
        <div class="container">
            <div class="navbar-translate">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
                <div class="search-nav default">
                    <form action="">
                        <input type="text" placeholder="جستجو ...">
                        <button type="submit"><img src="/Site/img/search.png" alt=""></button>
                    </form>

                    <ul>
                        <li><a href="#"><i class="fa fa-user-large colormain" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-cart-arrow-down colormain" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="logo-nav-res default text-center">
                    <a href="#">
                        <img src="/Site/img/logo.png" alt="">
                    </a>
                </div>
                <ul class="navbar-nav default">
                    <li class="sub-menu">
                        <a href="#">موبایل</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">کاور گوشی</a>
                                    </li>
                                    <li>
                                        <a href="#">شارژر همراه</a>
                                    </li>
                                    <li>
                                        <a href="#">گارد گوشی</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                    <li>
                                        <a href="#">شیائومی</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">سیستم عامل</a>
                                <ul>
                                    <li>
                                        <a href="#">اندروید</a>
                                    </li>
                                    <li>
                                        <a href="#">آی او اس</a>
                                    </li>
                                    <li>
                                        <a href="#">ویندوز</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">گوشی براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">گوشی تا 2 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 5 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 7 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 15 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی بالای 15 میلیون تومان</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">گوشی براساس حافظه داخلی</a>
                                <ul>
                                    <li>
                                        <a href="#">گوشی تا 16 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 32 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 64 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 128 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 256 گیگابایت</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">رزولوشن عکس</a>
                                <ul>
                                    <li>
                                        <a href="#">تا 13 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 16 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 48 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 64 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 128 مگاپیکسل</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#"> گوشی براساس کاربری</a>
                                <ul>
                                    <li>
                                        <a href="#">گوشی اقتصادی</a>
                                    </li>
                                    <li>
                                        <a href="#"> گوشی میان رده</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی دانش آموزی</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی گیمینگ</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی پرچمدار</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">لپ تاپ</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف لپ تاپ</a>
                                    </li>
                                    <li>
                                        <a href="#">کاور لپ تاپ</a>
                                    </li>
                                    <li>
                                        <a href="#">شارژر لپ تاپ</a>
                                    </li>
                                    <li>
                                        <a href="#">فن لپ تاپ</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">ایسوس</a>
                                    </li>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">اچ پی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">سیستم عامل</a>
                                <ul>
                                    <li>
                                        <a href="#">لینوکس</a>
                                    </li>
                                    <li>
                                        <a href="#">آی او اس</a>
                                    </li>
                                    <li>
                                        <a href="#">ویندوز</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">لپ تاپ براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">لپ تاپ تا 15 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">لپ تاپ تا 25 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">لپ تاپ تا 40 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">لپ تاپ بالای 40 میلیون تومان</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">لپ تاپ براساس حافظه داخلی</a>
                                <ul>
                                    <li>
                                        <a href="#">لپ تاپ تا 16 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">لپ تاپ تا 32 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">لپ تاپ تا 64 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">لپ تاپ تا 128 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">لپ تاپ تا 256 گیگابایت</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">ابعاد صفحه نمایش</a>
                                <ul>
                                    <li>
                                        <a href="#">صفحه نمایش 14 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 16 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 18 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 20 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 22 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 24 اینچ</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="#">ساعت هوشمند</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف ساعت هوشمند</a>
                                    </li>
                                    <li>
                                        <a href="#">کاور ساعت هوشمند</a>
                                    </li>
                                    <li>
                                        <a href="#">شارژر ساعت هوشمند</a>
                                    </li>
                                    <li>
                                        <a href="#">فن ساعت هوشمند</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">ایسوس</a>
                                    </li>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">اچ پی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">سیستم عامل</a>
                                <ul>
                                    <li>
                                        <a href="#">لینوکس</a>
                                    </li>
                                    <li>
                                        <a href="#">آی او اس</a>
                                    </li>
                                    <li>
                                        <a href="#">ویندوز</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">ساعت هوشمند براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 15 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 25 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 40 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">ساعت هوشمند بالای 40 میلیون تومان</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">ساعت هوشمند براساس حافظه داخلی</a>
                                <ul>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 16 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 32 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 64 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 128 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">ساعت هوشمند تا 256 گیگابایت</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="#">مودم</a>
                        <ul>

                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">تی پی لینک</a>
                                    </li>
                                    <li>
                                        <a href="#">دی لینک</a>
                                    </li>
                                    <li>
                                        <a href="#">اچ پی</a>
                                    </li>
                                    <li>
                                        <a href="#">همراه اول</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">فرکانس تحت پوشش</a>
                                <ul>
                                    <li>
                                        <a href="#">1 گیگاهرتز</a>
                                    </li>
                                    <li>
                                        <a href="#">2.5 گیگاهرتز</a>
                                    </li>
                                    <li>
                                        <a href="#">4 گیگاهرتز</a>
                                    </li>
                                    <li>
                                        <a href="#">5.5 گیگاهرتز</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">گوشی براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">گوشی تا 2 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 5 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 7 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">گوشی تا 15 میلیون تومان</a>
                                    </li>


                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">مودم براساس رنگ</a>
                                <ul>
                                    <li>
                                        <a href="#">مودم قرمز</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم قهوه ای</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم آبی</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم مشکی</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم سفید</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">بر اساس برند</a>
                                <ul>
                                    <li>
                                        <a href="#">مودم همراه اول</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم ایرانسل</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم تی پی لینک</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم دی لینک</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم یوتل</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم ایسوس</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم تندا</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم سورنا</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم مسای</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم ال جی</a>
                                    </li>
                                    <li>
                                        <a href="#">مودم سامسونگ</a>
                                    </li>


                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="#">تبلت</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف تبلت</a>
                                    </li>
                                    <li>
                                        <a href="#">کاور تبلت</a>
                                    </li>
                                    <li>
                                        <a href="#">شارژر همراه</a>
                                    </li>
                                    <li>
                                        <a href="#">گارد تبلت</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">هوآوی</a>
                                    </li>
                                    <li>
                                        <a href="#">شیائومی</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">سیستم عامل</a>
                                <ul>
                                    <li>
                                        <a href="#">اندروید</a>
                                    </li>
                                    <li>
                                        <a href="#">آی او اس</a>
                                    </li>
                                    <li>
                                        <a href="#">ویندوز</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">تبلت براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">تبلت تا 2 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت تا 5 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت تا 7 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت تا 15 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت بالای 15 میلیون تومان</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">تبلت براساس حافظه داخلی</a>
                                <ul>
                                    <li>
                                        <a href="#">تبلت تا 16 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت تا 32 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت تا 64 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت تا 128 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت تا 256 گیگابایت</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">رزولوشن عکس</a>
                                <ul>
                                    <li>
                                        <a href="#">تا 13 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 16 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 48 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 64 مگاپیکسل</a>
                                    </li>
                                    <li>
                                        <a href="#">تا 128 مگاپیکسل</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#"> تبلت براساس کاربری</a>
                                <ul>
                                    <li>
                                        <a href="#">تبلت اقتصادی</a>
                                    </li>
                                    <li>
                                        <a href="#"> تبلت میان رده</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت دانش آموزی</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت گیمینگ</a>
                                    </li>
                                    <li>
                                        <a href="#">تبلت پرچمدار</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li class="sub-menu">
                        <a href="#">کامپیوتر</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف کامپیوتر</a>
                                    </li>
                                    <li>
                                        <a href="#">کاور کامپیوتر</a>
                                    </li>
                                    <li>
                                        <a href="#">شارژر کامپیوتر</a>
                                    </li>
                                    <li>
                                        <a href="#">فن کامپیوتر</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">ایسوس</a>
                                    </li>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">اچ پی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">سیستم عامل</a>
                                <ul>
                                    <li>
                                        <a href="#">لینوکس</a>
                                    </li>
                                    <li>
                                        <a href="#">آی او اس</a>
                                    </li>
                                    <li>
                                        <a href="#">ویندوز</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">کامپیوتر براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">کامپیوتر تا 15 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">کامپیوتر تا 25 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">کامپیوتر تا 40 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">کامپیوتر بالای 40 میلیون تومان</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">کامپیوتر براساس حافظه داخلی</a>
                                <ul>
                                    <li>
                                        <a href="#">کامپیوتر تا 16 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">کامپیوتر تا 32 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">کامپیوتر تا 64 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">کامپیوتر تا 128 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">کامپیوتر تا 256 گیگابایت</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">ابعاد صفحه نمایش</a>
                                <ul>
                                    <li>
                                        <a href="#">صفحه نمایش 14 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 16 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 18 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 20 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 22 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 24 اینچ</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>



                    <li class="sub-menu">
                        <a href="#">آیپد اپل</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف آیپد اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">کاور آیپد اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">شارژر آیپد اپل</a>
                                    </li>
                                    <li>
                                        <a href="#">فن آیپد اپل</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">ایسوس</a>
                                    </li>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">اچ پی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">سیستم عامل</a>
                                <ul>
                                    <li>
                                        <a href="#">لینوکس</a>
                                    </li>
                                    <li>
                                        <a href="#">آی او اس</a>
                                    </li>
                                    <li>
                                        <a href="#">ویندوز</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">آیپد اپل براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">آیپد اپل تا 15 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">آیپد اپل تا 25 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">آیپد اپل تا 40 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">آیپد اپل بالای 40 میلیون تومان</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">آیپد اپل براساس حافظه داخلی</a>
                                <ul>
                                    <li>
                                        <a href="#">آیپد اپل تا 16 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">آیپد اپل تا 32 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">آیپد اپل تا 64 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">آیپد اپل تا 128 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">آیپد اپل تا 256 گیگابایت</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </li>






                    <li class="sub-menu">
                        <a href="#">تلویزیون</a>
                        <ul>
                            <li class="sub-menu">
                                <a href="#">لوازم جانبی</a>
                                <ul>
                                    <li>
                                        <a href="#">کیف تلویزیون</a>
                                    </li>
                                    <li>
                                        <a href="#">کاور تلویزیون</a>
                                    </li>
                                    <li>
                                        <a href="#">شارژر تلویزیون</a>
                                    </li>
                                    <li>
                                        <a href="#">فن تلویزیون</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">برند ترین ها</a>
                                <ul>
                                    <li>
                                        <a href="#">ایسوس</a>
                                    </li>
                                    <li>
                                        <a href="#">سامسونگ</a>
                                    </li>
                                    <li>
                                        <a href="#">اچ پی</a>
                                    </li>
                                    <li>
                                        <a href="#">اپل</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">سیستم عامل</a>
                                <ul>
                                    <li>
                                        <a href="#">لینوکس</a>
                                    </li>
                                    <li>
                                        <a href="#">آی او اس</a>
                                    </li>
                                    <li>
                                        <a href="#">ویندوز</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">تلویزیون براساس قیمت</a>
                                <ul>
                                    <li>
                                        <a href="#">تلویزیون تا 15 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">تلویزیون تا 25 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">تلویزیون تا 40 میلیون تومان</a>
                                    </li>
                                    <li>
                                        <a href="#">تلویزیون بالای 40 میلیون تومان</a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">تلویزیون براساس حافظه داخلی</a>
                                <ul>
                                    <li>
                                        <a href="#">تلویزیون تا 16 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تلویزیون تا 32 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تلویزیون تا 64 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تلویزیون تا 128 گیگابایت</a>
                                    </li>
                                    <li>
                                        <a href="#">تلویزیون تا 256 گیگابایت</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-menu">
                                <a href="#">ابعاد صفحه نمایش</a>
                                <ul>
                                    <li>
                                        <a href="#">صفحه نمایش 14 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 16 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 18 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 20 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 22 اینچ</a>
                                    </li>
                                    <li>
                                        <a href="#">صفحه نمایش 24 اینچ</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"> دمو محصولات</a>
                    </li>
                    <li>
                        <a href="#">تخفیفات و پیشنهادات</a>
                    </li>
                    <li>
                        <a href="#">مَسای امن</a>
                    </li>
                    <li>
                        <a href="#">مَسای پلاس</a>
                    </li>
                    <li>
                        <a href="#"> مَسای کلاب </a>
                    </li>
                    <li>
                        <a href="#">مَسای پی </a>
                    </li>
                    <li>
                        <a href="#">سوالی دارید؟</a>
                    </li>
                    <li>
                        <a href="#">فروشنده شوید</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end mobile header -->